.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 331px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  width: 803px;
  margin: 149px auto 42px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 120px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 314px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: 340px;
    margin: 59px 13px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 287px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  font-style: normal;
  font-size: 1.25rem;
  margin: 42px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 4.5rem;
  background-image: none;
  margin: 42px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 20px 0 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-2 .u-text-2 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-top: 31px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    margin-top: 8px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 430px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-weight: 700;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 60px;
    margin-left: 12px;
    margin-right: 12px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-group-1 {
  width: 747px;
  min-height: 372px;
  height: auto;
  margin: 46px auto 60px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: normal;
  margin: 47px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 30px auto 0;
  padding: 11px 24px 11px 23px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    height: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 44px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 326px;
    min-height: 387px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.125rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 260px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-style: normal;
  width: 680px;
  margin: 42px auto 0;
}

.u-section-5 .u-text-2 {
  line-height: 32px;
  font-style: normal;
  width: 680px;
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 1.25rem;
    font-style: italic;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 12px;
    margin-right: 12px;
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 230px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: normal;
  width: 680px;
  margin: 46px auto 0;
}

.u-section-6 .u-text-2 {
  line-height: 32px;
  font-style: normal;
  width: 680px;
  margin: 46px auto 48px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    width: 540px;
  }

  .u-section-6 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    width: 340px;
    font-size: 1.25rem;
    font-style: italic;
  }

  .u-section-6 .u-text-2 {
    width: 340px;
    line-height: 25.2px;
    font-size: 1.125rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1095px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-style: normal;
  margin: 39px 208px 0 108px;
}

.u-section-7 .u-list-1 {
  width: 622px;
  min-height: 538px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  height: auto;
  margin: 50px auto 0 209px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-2 {
  font-style: normal;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-text-3 {
  font-style: normal;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-text-4 {
  font-style: normal;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-7 .u-image-1 {
  width: 570px;
  height: 259px;
  margin: 10px auto 0 235px;
}

.u-section-7 .u-text-5 {
  margin: 30px 28px 60px;
}

.u-section-7 .u-btn-1 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: 8px;
    margin-right: 108px;
    width: 769px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    font-style: italic;
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-7 .u-list-1 {
    margin-left: 98px;
  }

  .u-section-7 .u-image-1 {
    margin-left: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-7 .u-text-1 {
    width: 540px;
  }

  .u-section-7 .u-list-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 115px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 115px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 115px;
  }

  .u-section-7 .u-image-1 {
    width: 540px;
    height: 245px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1370px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 10px;
    margin-right: 10px;
    width: auto;
  }

  .u-section-7 .u-list-1 {
    min-height: 840px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-7 .u-image-1 {
    width: 320px;
    height: 154px;
    margin-top: 39px;
  }

  .u-section-7 .u-text-5 {
    font-size: 0.875rem;
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 177px;
}

.u-section-8 .u-text-1 {
  font-weight: 900;
  font-size: 3rem;
  margin: 69px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 647px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 47px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 42px;
    margin-left: 12px;
    margin-right: 12px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 581px;
}

.u-section-9 .u-image-1 {
  width: 570px;
  height: 723px;
  margin: 60px auto;
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 685px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-9 .u-image-1 {
    width: 319px;
    height: 431px;
    object-position: 0% 50%;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 815px;
}

.u-section-10 .u-text-1 {
  font-weight: 700;
  margin: 4px auto 0;
}

.u-section-10 .u-text-2 {
  margin: 30px 23px 0;
}

.u-section-10 .u-list-1 {
  min-height: 503px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  width: 1060px;
  grid-gap: 10px 10px;
  height: auto;
  margin: 40px auto 60px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-1 {
  width: 403px;
  min-height: 144px;
  margin: -65px 0 0 auto;
}

.u-section-10 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-10 .u-text-3 {
  font-weight: 700;
  margin: 0 72px 0 0;
}

.u-section-10 .u-text-4 {
  margin: 20px 4px 0 0;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-2 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-10 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-10 .u-text-5 {
  font-weight: 700;
  margin: 0 72px 0 0;
}

.u-section-10 .u-text-6 {
  margin: 20px 4px 0 0;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-icon-3 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-3 {
  width: 403px;
  min-height: 149px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-10 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-10 .u-text-7 {
  font-weight: 700;
  margin: 0 72px 0 0;
}

.u-section-10 .u-text-8 {
  margin: 20px 4px 0 0;
}

.u-section-10 .u-container-layout-7 {
  padding: 30px;
}

.u-section-10 .u-icon-4 {
  height: 65px;
  width: 65px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-10 .u-group-4 {
  width: 403px;
  min-height: 144px;
  background-size: auto;
  margin: -65px 0 0 auto;
}

.u-section-10 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-10 .u-text-9 {
  font-weight: 700;
  margin: 0 72px 0 0;
}

.u-section-10 .u-text-10 {
  margin: 20px 4px 0 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
    font-size: 1.25rem;
  }

  .u-section-10 .u-list-1 {
    min-height: 468px;
    grid-template-columns: repeat(2, calc(50% - 5px));
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-group-1 {
    width: 333px;
  }

  .u-section-10 .u-group-2 {
    width: 333px;
  }

  .u-section-10 .u-group-3 {
    width: 333px;
  }

  .u-section-10 .u-group-4 {
    width: 333px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-10 .u-group-1 {
    width: 224px;
    min-height: 398px;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-10 .u-group-2 {
    width: 224px;
  }

  .u-section-10 .u-text-5 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-10 .u-group-3 {
    width: 224px;
  }

  .u-section-10 .u-text-7 {
    width: auto;
    margin-right: 20px;
  }

  .u-section-10 .u-group-4 {
    width: 224px;
  }

  .u-section-10 .u-text-9 {
    width: auto;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-group-1 {
    width: 160px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-group-2 {
    width: 160px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-group-3 {
    width: 160px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-group-4 {
    width: 160px;
  }

  .u-section-10 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 2268px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-10 .u-list-1 {
    min-height: 1879px;
    grid-template-columns: 100%;
    margin-top: 8px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-icon-1 {
    margin-top: -30px;
    margin-left: -10px;
  }

  .u-section-10 .u-group-1 {
    width: 235px;
    min-height: 415px;
    margin-top: -35px;
    margin-right: 10px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-bottom: 29px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 65px;
    margin-right: 0;
    width: auto;
  }

  .u-section-10 .u-text-4 {
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-10 .u-icon-2 {
    margin-top: -30px;
    margin-left: -10px;
  }

  .u-section-10 .u-group-2 {
    width: 235px;
    min-height: 398px;
    margin-top: -35px;
    margin-right: 10px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-bottom: 29px;
  }

  .u-section-10 .u-text-5 {
    margin-top: 65px;
    margin-right: 0;
    width: auto;
  }

  .u-section-10 .u-text-6 {
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-10 .u-icon-3 {
    margin-top: -30px;
    margin-left: -10px;
  }

  .u-section-10 .u-group-3 {
    width: 235px;
    min-height: 398px;
    margin-top: -35px;
    margin-right: 10px;
  }

  .u-section-10 .u-container-layout-6 {
    padding-bottom: 29px;
  }

  .u-section-10 .u-text-7 {
    margin-top: 65px;
    margin-right: 0;
    width: auto;
  }

  .u-section-10 .u-text-8 {
    margin-top: 40px;
    margin-right: 0;
  }

  .u-section-10 .u-icon-4 {
    margin-top: -30px;
    margin-right: 255px;
  }

  .u-section-10 .u-group-4 {
    width: 235px;
    min-height: 398px;
    margin-top: -35px;
    margin-right: 10px;
  }

  .u-section-10 .u-container-layout-8 {
    padding-bottom: 29px;
  }

  .u-section-10 .u-text-9 {
    margin-top: 65px;
    margin-right: 0;
    width: auto;
  }

  .u-section-10 .u-text-10 {
    margin-top: 40px;
    margin-right: 0;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 1274px;
}

.u-section-11 .u-text-1 {
  font-weight: 900;
  margin: 60px 20px 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 20px 0;
}

.u-section-11 .u-btn-1 {
  padding: 0;
}

.u-section-11 .u-btn-2 {
  padding: 0;
}

.u-section-11 .u-text-3 {
  margin: 60px 20px 0;
}

.u-section-11 .u-btn-3 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-11 .u-image-1 {
  width: 247px;
  height: 211px;
  margin: 17px auto 0;
}

.u-section-11 .u-text-4 {
  font-size: 1.125rem;
  margin: 10px 36px 0;
}

.u-section-11 .u-text-5 {
  margin: 36px 20px 0;
}

.u-section-11 .u-btn-4 {
  text-decoration: underline !important;
  padding: 0;
}

.u-section-11 .u-image-2 {
  width: 253px;
  height: 253px;
  background-image: url("images/logocomandopablo1.jpg");
  background-position: 50% 50%;
  margin: 60px auto 0;
}

.u-section-11 .u-text-6 {
  font-size: 1.25rem;
  margin: 36px 36px 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1787px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-11 .u-text-4 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-11 .u-text-5 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-11 .u-text-6 {
    font-size: 1.125rem;
    margin-left: 11px;
    margin-right: 11px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 177px;
}

.u-section-12 .u-text-1 {
  font-weight: 900;
  margin: 60px 20px 0;
}

.u-section-12 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}.u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 666px;
}

.u-section-13 .u-gallery-1 {
  height: 581px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 17px 17px;
  width: 1100px;
  margin: 43px auto;
}

.u-section-13 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto auto;
  grid-gap: 50px 50px;
}

.u-section-13 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-gallery-item-7 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-13 .u-back-image-7 {
  object-position: 50% 50%;
}

.u-section-13 .u-over-slide-7 {
  transition-duration: 0.5s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-13 .u-gallery-item-8 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
}

.u-section-13 .u-back-image-8 {
  object-position: 50% 50%;
}

.u-section-13 .u-over-slide-8 {
  transition-duration: 0.5s;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-13 .u-gallery-1 {
    height: 496px;
    width: 940px;
  }

  .u-section-13 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1605px;
  }

  .u-section-13 .u-gallery-1 {
    height: 1520px;
    grid-template-columns: auto auto;
    width: 720px;
  }

  .u-section-13 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 4645px;
  }

  .u-section-13 .u-gallery-1 {
    height: 4560px;
    grid-template-columns: auto;
    width: 540px;
  }

  .u-section-13 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 2956px;
  }

  .u-section-13 .u-gallery-1 {
    height: 2871px;
    margin-left: 3px;
    margin-right: 3px;
    width: 340px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 314px;
}

.u-section-14 .u-text-1 {
  font-weight: 900;
  margin: 43px 20px 0;
}

.u-section-14 .u-text-2 {
  font-size: 1.125rem;
  margin: 24px 20px 0;
}

.u-section-14 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 43px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-14 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }
}