a.btn, button.btn{
    display: inline-block;
    font-size: 1.2rem;
    text-align: center;
    min-width: 100px;
    //color: #ffffff;
    //background-color: #db545a;
    text-decoration: none;
    text-transform: uppercase;
    padding: 12px 45px;
    border-radius: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
}

