#contactForm{
    color: #ffffff;
}
.form-group{
    margin-bottom: 25px;
    background-color: #797979;
    padding: 15px 20px;
    border-radius: 15px;
}
.resultados {
  display: none;
  text-align: left;
  margin-bottom: 10px;
  right: 0;
  padding: 10px;
  background-color: #FFBA00;
  color: #696969; 
}
#server-results img {
  display: block;
  max-width: 50px;
  height: auto; 
}

