/* Project Main Colors */
.black{
    color: #111111;
}
.dark-bg{
    color: #fff;
    background-color: #555145;
    a{
        color: #ffffff;
        :hover{
            color: #f2f2f2;
        }
    }
}
