 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/683A6BAA-6499-40C8-A594-0649A5C39C5D.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 365px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 250px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 533px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 532px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  line-height: 1;
  margin: 49px 4px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 532px;
}

.u-section-2 .u-container-layout-2 {
  padding: 24px 30px;
}

.u-section-2 .u-image-1 {
  height: 459px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 439px;
  }

  .u-section-2 .u-image-1 {
    height: 369px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 336px;
  }

  .u-section-2 .u-image-1 {
    height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 504px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 468px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: -3px;
    margin-left: 3px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 350px;
  }

  .u-section-2 .u-image-1 {
    height: 288px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 243px;
}

.u-section-3 .u-text-1 {
  background-image: none;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: 24px 0 60px;
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 265px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 24px;
  }
} .u-section-4 {
  min-height: 318px;
}

.u-section-4 .u-sheet-1 {
  min-height: 718px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -51px;
  margin-bottom: 25px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 746px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 54px;
}

.u-section-4 .u-image-1 {
  width: 225px;
  height: 127px;
  margin: 22px auto 0;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 101px 51px 0 67px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 64px 6px 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 52px auto 0;
  padding: 0;
}

.u-section-4 .u-image-2 {
  min-height: 655px;
  background-image: url("images/5D704B4A-EDC9-4114-8280-555EB48102C0.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 187px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 20px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 615px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 17px;
    margin-right: 1px;
    width: 328px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 762px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 414px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 494px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1260px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 44px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-image-2 {
    min-height: 621px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 66px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 597px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-top: 50px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 22px;
  }

  .u-section-4 .u-image-2 {
    min-height: 391px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 704px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 704px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 58px;
}

.u-section-5 .u-image-1 {
  width: 253px;
  height: 127px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  margin: 51px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: 73px 4px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-5 .u-image-2 {
  min-height: 655px;
  background-image: url("images/5E3A66CF-105B-470E-B6D9-D88B51072F4C.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 589px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 580px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    min-height: 414px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-image-2 {
    min-height: 621px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 565px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 6px;
    margin-right: 17px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 52px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 6px;
  }

  .u-section-5 .u-image-2 {
    min-height: 391px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 250px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 44px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  margin: 17px auto 41px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    width: auto;
    margin: 29px 73px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
    margin-bottom: 52px;
  }
} .u-section-7 {
  background-image: url("images/45E9739A-2A99-4E86-83B8-043F5ED9A610.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 600px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 210px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 87px;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 37px auto 16px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 82px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 312px;
}

.u-section-9 .u-text-1 {
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
  font-size: 3rem;
}

.u-section-9 .u-text-2 {
  font-size: 1.875rem;
  margin: 37px 0 55px;
}

@media (max-width: 991px) {
  .u-section-9 .u-text-2 {
    font-size: 1.625rem;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-9 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-text-2 {
    margin-top: 39px;
    margin-bottom: 60px;
    margin-left: -14px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 600px;
}

.u-section-10 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 451px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 349px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 246px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 102px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 35px auto 15px;
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 88px;
  }

  .u-section-11 .u-text-1 {
    margin-bottom: 20px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 96px;
}

.u-section-12 .u-text-1 {
  font-size: 1.875rem;
  margin: 15px auto 45px;
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-12 .u-text-1 {
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 91px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin: 13px 0 2px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 500px;
}

.u-section-13 .u-custom-html-1 {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1007px;
  }

  .u-section-13 .u-custom-html-1 {
    height: auto;
    min-height: 947px;
    margin-top: 0;
    margin-right: 23px;
    margin-left: -23px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1073px;
  }

  .u-section-13 .u-custom-html-1 {
    width: 429px;
    margin-top: 29px;
    margin-left: -44px;
    margin-right: -44px;
  }
}.u-section-14 .u-sheet-1 {
  min-height: 126px;
}

.u-section-14 .u-image-1 {
  width: 142px;
  height: 87px;
  margin: 20px auto;
}