 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/683A6BAA-6499-40C8-A594-0649A5C39C5D.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 883px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 728px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 471px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 428px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 533px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 532px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  line-height: 1;
  margin: 49px 4px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 532px;
}

.u-section-2 .u-container-layout-2 {
  padding: 24px 30px;
}

.u-section-2 .u-image-1 {
  height: 459px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 439px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 439px;
  }

  .u-section-2 .u-image-1 {
    height: 369px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 336px;
  }

  .u-section-2 .u-image-1 {
    height: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 504px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 468px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-right: -3px;
    margin-left: 3px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 350px;
  }

  .u-section-2 .u-image-1 {
    height: 288px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 243px;
}

.u-section-3 .u-text-1 {
  background-image: none;
  font-weight: 700;
  margin: 21px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 24px 0 60px;
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 219px;
  }

  .u-section-3 .u-text-2 {
    margin-bottom: 24px;
  }
} .u-section-4 {
  min-height: 318px;
}

.u-section-4 .u-sheet-1 {
  min-height: 699px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: -26px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 678px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 54px;
}

.u-section-4 .u-image-1 {
  width: 225px;
  height: 127px;
  margin: 47px auto 0;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 83px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 85px 6px 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 76px auto 0;
  padding: 0;
}

.u-section-4 .u-image-2 {
  min-height: 655px;
  background-image: url("images/5D704B4A-EDC9-4114-8280-555EB48102C0.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 559px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 66px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    min-height: 414px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-2 {
    min-height: 621px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 587px;
  }

  .u-section-4 .u-image-2 {
    min-height: 353px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 655px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 658px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 58px;
}

.u-section-5 .u-image-1 {
  width: 253px;
  height: 127px;
  margin: 48px auto 0;
}

.u-section-5 .u-text-1 {
  margin: 72px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 83px 2px 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-5 .u-image-2 {
  min-height: 655px;
  background-image: url("images/5E3A66CF-105B-470E-B6D9-D88B51072F4C.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    min-height: 414px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 721px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-5 .u-image-2 {
    min-height: 621px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 636px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 6px;
    margin-right: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 92px;
    margin-right: 13px;
    margin-left: 17px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 49px;
  }

  .u-section-5 .u-image-2 {
    min-height: 305px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 240px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 44px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 28px 0 44px;
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 294px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 36px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-bottom: 52px;
  }
} .u-section-7 {
  background-image: url("images/45E9739A-2A99-4E86-83B8-043F5ED9A610.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 149px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 87px;
}

.u-section-8 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 37px auto 16px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 82px;
  }

  .u-section-8 .u-btn-1 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 276px;
}

.u-section-9 .u-text-1 {
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  font-weight: 700;
}

.u-section-9 .u-text-2 {
  margin: 22px auto 58px;
}

@media (max-width: 575px) {
  .u-section-9 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 600px;
}

.u-section-10 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 451px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 349px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 246px;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 102px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  margin: 35px auto 15px;
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 96px;
}

.u-section-12 .u-text-1 {
  margin: 15px auto 45px;
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-12 .u-text-1 {
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 85px;
  }
}.u-section-13 .u-sheet-1 {
  min-height: 500px;
}

.u-section-13 .u-custom-html-1 {
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1007px;
  }

  .u-section-13 .u-custom-html-1 {
    height: auto;
    min-height: 947px;
    margin-top: 0;
    margin-right: 23px;
    margin-left: -23px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 1073px;
  }

  .u-section-13 .u-custom-html-1 {
    margin-top: -9px;
    margin-right: -39px;
    margin-left: -50px;
  }
}