 .u-section-1 {
  min-height: 771px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: -7px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 586px auto 15px;
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 807px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -8px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin: 587px 50px 51px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 801px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 594px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -49px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin: 29px 25px 60px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 642px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-gallery-1 {
  width: 857px;
  height: 605px;
  grid-gap: 10px 10px;
  margin: 20px auto 19px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    margin-top: 66px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-gallery-1 {
    margin-top: 67px;
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-gallery-1 {
    height: 516px;
    margin-top: -33px;
    margin-bottom: 37px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 78px;
    height: 78px;
  }

  .u-section-2 .u-carousel-thumbnail-3 {
    width: 78px;
    height: 78px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 905px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  width: 606px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: 12px 197px 0 110px;
}

.u-section-3 .u-gallery-1 {
  height: 552px;
  grid-gap: 17px 17px;
  width: 969px;
  margin: 70px auto 60px;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 30px 30px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 775px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 29px;
  }

  .u-section-3 .u-text-3 {
    width: 746px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-gallery-1 {
    height: 536px;
    margin-top: 57px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1186px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 8px;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 16px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 924px;
    margin-top: 45px;
    margin-bottom: 23px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3117px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    height: 2772px;
    margin-top: 25px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1938px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 5px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 5px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 5px;
  }

  .u-section-3 .u-gallery-1 {
    height: 1745px;
    margin-top: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 328px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 43px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  width: 562px;
  font-weight: 700;
  margin: -7px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: 76px auto 36px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 285px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin: 40px 30px 35px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    margin: 43px 8px 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 37px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin: 48px -6px 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -1px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
    margin: 19px 0;
  }
} .u-section-5 {
  min-height: 66px;
}

.u-section-5 .u-sheet-1 {
  min-height: 655px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 195px auto 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 655px;
  background-image: url("images/Elite_World_Pack-300x300.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 318px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 66px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-1 {
    min-height: 414px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 93px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 117px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 39px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 621px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 143px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 31px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 18px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 17px;
  }

  .u-section-5 .u-image-1 {
    min-height: 373px;
  }
} .u-section-6 {
  background-image: url("images/Elite_Mapa_relievemarco1.png");
  background-position: 41.4% 37.27%;
  background-size: 105%;
  min-height: 782px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 645px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 494px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 371px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    background-position: 50.11% 17.35%;
    min-height: 234px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 265px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  font-size: 1.875rem;
  margin: 26px auto 29px;
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 18px;
    margin-bottom: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 388px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: 120px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-8 {
  min-height: 647px;
  background-position: 47.68% 21.65%;
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 508px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 397px;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 275px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 145px;
}

.u-section-9 .u-text-1 {
  font-size: 3.75rem;
  margin: 20px auto 0;
}

.u-section-9 .u-text-2 {
  margin: 21px auto;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-bottom: 10px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 618px;
}

.u-section-10 .u-image-1 {
  width: 1123px;
  height: 692px;
  margin: 17px auto 0;
}

.u-section-10 .u-text-1 {
  font-size: 1.875rem;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-image-1 {
    height: 579px;
    margin-top: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-image-1 {
    height: 443px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-image-1 {
    height: 332px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    height: 209px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 181px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 58px auto;
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 73px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 1445px;
}

.u-section-12 .u-text-1 {
  font-size: 1.875rem;
  margin: 38px 0 0;
}

.u-section-12 .u-image-1 {
  width: 998px;
  height: 541px;
  margin: 140px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1414px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1.25rem;
    width: auto;
  }

  .u-section-12 .u-image-1 {
    width: 940px;
    height: 509px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1012px;
  }

  .u-section-12 .u-image-1 {
    width: 720px;
    height: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1197px;
  }

  .u-section-12 .u-image-1 {
    width: 540px;
    height: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1062px;
  }

  .u-section-12 .u-image-1 {
    height: 184px;
    margin-top: 67px;
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 495px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 1px auto 0;
}

.u-section-13 .u-accordion-1 {
  width: 800px;
  margin: 83px auto 60px;
}

.u-section-13 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-13 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-13 .u-accordion-pane-1 {
  min-height: 155px;
  background-image: none;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13 .u-text-2 {
  line-height: 1.8;
  margin: 0;
}

.u-section-13 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-13 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-13 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px;
}

.u-section-13 .u-text-3 {
  line-height: 1.8;
  margin: 0;
}

.u-section-13 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-13 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-13 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px;
}

.u-section-13 .u-text-4 {
  line-height: 1.8;
  margin: 20px auto 0 0;
}

@media (max-width: 991px) {
  .u-section-13 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-13 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 26px;
  }

  .u-section-13 .u-accordion-1 {
    width: 340px;
    margin-top: 69px;
  }
}