 .u-section-1 {
  min-height: 771px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: -15px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 594px auto 15px;
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 807px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 801px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 594px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -49px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin: 534px 25px 45px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 905px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 606px;
  font-size: 2.25rem;
  font-weight: 700;
  margin: -7px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 552px;
  grid-gap: 17px 17px;
  width: 969px;
  margin: 111px auto 0;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 30px 30px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  width: 746px;
  margin: 39px auto 9px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 42px;
  }

  .u-section-2 .u-gallery-1 {
    height: 536px;
    width: 940px;
    margin-top: 122px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }

  .u-section-2 .u-text-3 {
    margin-top: -622px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1186px;
  }

  .u-section-2 .u-gallery-1 {
    height: 924px;
    width: 720px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-2 .u-text-3 {
    width: 720px;
    margin-top: -1010px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3117px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-gallery-1 {
    height: 2772px;
    width: 540px;
  }

  .u-section-2 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-2 .u-text-3 {
    width: 540px;
    margin-top: -2858px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2007px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 26px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -2px;
  }

  .u-section-2 .u-gallery-1 {
    height: 1745px;
    width: 340px;
    margin-top: 55px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    font-size: 1.25rem;
    margin: 38px 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 642px;
}

.u-section-3 .u-gallery-1 {
  width: 857px;
  height: 605px;
  grid-gap: 10px 10px;
  margin: 19px auto;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    margin-top: 205px;
    margin-bottom: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-carousel-thumbnail-2 {
    width: 78px;
    height: 78px;
  }

  .u-section-3 .u-carousel-thumbnail-3 {
    width: 78px;
    height: 78px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 328px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 43px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  width: 562px;
  font-weight: 700;
  margin: -7px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  margin: 76px auto 36px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 305px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 6px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin: 79px 8px 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
    width: auto;
    margin-top: -1px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
    margin: 19px 0;
  }
} .u-section-5 {
  background-image: url("images/Elite_Mapa_relievemarco1.png");
  background-position: 41.4% 37.27%;
  background-size: 105%;
  min-height: 782px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 645px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 494px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 371px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    background-position: 50.11% 17.35%;
    min-height: 234px;
  }
} .u-section-6 {
  min-height: 66px;
}

.u-section-6 .u-sheet-1 {
  min-height: 655px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  color: rgb(0, 0, 0) !important;
  margin: 195px auto 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 31px auto 0;
}

.u-section-6 .u-text-2 {
  margin: 19px 0 0;
}

.u-section-6 .u-image-1 {
  min-height: 655px;
  background-image: url("images/Elite_World_Pack-300x300.png");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 318px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-6 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 66px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    min-height: 414px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 93px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 117px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 39px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 621px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 143px;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 31px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 254px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 30px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 18px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 17px;
  }

  .u-section-6 .u-image-1 {
    min-height: 373px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 265px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-7 .u-text-3 {
  font-size: 1.875rem;
  margin: 26px auto 29px;
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 227px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: 120px;
    margin-top: 14px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.25rem;
    margin-top: -4px;
  }

  .u-section-7 .u-text-3 {
    font-size: 1.25rem;
    width: auto;
    margin: 21px 0 39px;
  }
} .u-section-8 {
  min-height: 647px;
  background-position: 47.68% 21.65%;
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 275px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 145px;
}

.u-section-9 .u-text-1 {
  margin: 21px auto;
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 74px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 20px;
    margin-bottom: 10px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 709px;
}

.u-section-10 .u-image-1 {
  width: 1123px;
  height: 692px;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-10 .u-image-1 {
    height: 579px;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-10 .u-image-1 {
    height: 443px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-10 .u-image-1 {
    height: 332px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-10 .u-image-1 {
    height: 209px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-11 .u-sheet-1 {
  min-height: 181px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 58px auto;
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 73px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 1445px;
}

.u-section-12 .u-text-1 {
  font-size: 1.875rem;
  margin: 38px 108px 0;
}

.u-section-12 .u-image-1 {
  width: 998px;
  height: 541px;
  margin: 71px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1414px;
  }

  .u-section-12 .u-image-1 {
    width: 940px;
    height: 509px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1295px;
  }

  .u-section-12 .u-image-1 {
    width: 720px;
    height: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1197px;
  }

  .u-section-12 .u-image-1 {
    width: 540px;
    height: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 184px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 665px;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 60px auto 0;
}

.u-section-13 .u-accordion-1 {
  width: 800px;
  margin: 35px auto 60px;
}

.u-section-13 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-13 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-13 .u-accordion-pane-1 {
  min-height: 155px;
  background-image: none;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13 .u-text-2 {
  line-height: 1.8;
  margin: 0;
}

.u-section-13 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-13 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-13 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px;
}

.u-section-13 .u-text-3 {
  line-height: 1.8;
  margin: 0;
}

.u-section-13 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 20px 30px;
}

.u-section-13 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-13 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px;
}

.u-section-13 .u-text-4 {
  line-height: 1.8;
  margin: 20px auto 0 0;
}

@media (max-width: 991px) {
  .u-section-13 .u-accordion-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-13 .u-accordion-1 {
    width: 340px;
  }
}