 .u-section-1 {
  min-height: 979px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  font-size: 4.5rem;
  margin: 13px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 640px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 929px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 635px;
    margin-bottom: 27px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 785px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 481px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 577px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 13px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 13px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 386px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 289px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 50px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  width: 562px;
  margin: 12px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 50px auto 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 325px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: 48px -6px 13px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 204px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 24px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 8px;
    margin-right: auto;
    margin-bottom: 7px;
  }
} .u-section-3 {
  background-image: url("images/Elite_Mapa_relievemarco1.png");
  min-height: 782px;
  background-position: 41.4% 37.27%;
  background-size: 105%;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 645px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 494px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 371px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 50.11% 17.35%;
    min-height: 332px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 364px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 29px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  margin: 37px auto 55px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 39px;
    margin-bottom: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    margin-top: 8px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.25rem;
    width: auto;
    margin: 18px 0 8px;
  }
} .u-section-5 {
  background-image: url("images/penaltis.png");
  background-position: 49.52% 21.65%;
  min-height: 647px;
}

.u-section-5 .u-shape-1 {
  width: 261px;
  height: 54px;
  margin: 210px auto 60px -50px;
}

@media (max-width: 1199px) {
   .u-section-5 {
    background-position: 49.52% 20.62%;
    min-height: 566px;
  }

  .u-section-5 .u-shape-1 {
    width: 217px;
    height: 31px;
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    background-size: 105%;
    min-height: 443px;
  }

  .u-section-5 .u-shape-1 {
    width: 227px;
    height: 32px;
    margin-left: calc(((100% - 720px) / 2) + -30px);
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    background-position: 47.86% 18.36%;
    min-height: 286px;
  }

  .u-section-5 .u-shape-1 {
    width: 82px;
    height: 24px;
    margin-left: 52px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    background-position: 49% 24.45%;
    min-height: 177px;
  }

  .u-section-5 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 32px);
    height: 17px;
    margin-left: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 897px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  margin: 60px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 2.25rem;
  width: 746px;
  margin: 9px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  text-shadow: -2px -2px 8px rgba(128,128,128,1);
  width: 746px;
  margin: 10px auto 0;
}

.u-section-6 .u-gallery-1 {
  height: 552px;
  margin-top: 50px;
  margin-bottom: 60px;
  grid-gap: 17px 17px;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
  grid-gap: 30px 30px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 42px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: 36px;
  }

  .u-section-6 .u-gallery-1 {
    height: 455px;
    margin-bottom: 0;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1057px;
  }

  .u-section-6 .u-text-2 {
    width: 720px;
  }

  .u-section-6 .u-text-3 {
    width: 720px;
  }

  .u-section-6 .u-gallery-1 {
    height: 784px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2726px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    width: 540px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2352px;
    margin-top: 14px;
    margin-bottom: 58px;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1782px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 26px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 15px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 1586px;
    margin-right: -15px;
    margin-left: 15px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1481px;
    margin-top: -1596px;
    margin-bottom: 60px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 26px auto 60px;
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 36px auto 60px;
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    font-size: 1.875rem;
  }
}